<div class="navbar navbar-expand-sm navbar-light">
  <%= link_to '/', class: "navbar-brand" do %>
    <%= image_tag("was-sans-fond.png", crop: :thumb, width: 250, height: 100) %>
  <% end %>

  <div class="container-navbar w-100" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
            <div class="col-md-3">
              <%= link_to user_events_path, class: "action-navbar" do%>
                <p class="text-center my-2">Les évènements</p>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to user_articles_path, class: "action-navbar" do %>
                <p class="text-center my-2">Les actualités</p>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to clients_path, class: "action-navbar" do %>
                <p class="text-center my-2">Les abonnements</p>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to destroy_user_session_path, method: :delete, class: "action-navbar" do %>
                <p class="text-center my-2">Se Déconnecter</p>
              <% end %>
            </div>
        <% else %>

        <div class="nav-item w-100">
          <div class="d-flex">
          <div class="col-md-4">
            <%= link_to events_path, class: "nav-link text-center" do %>
              <p class="text-center my-2">Les évènements</p>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to articles_path, class: "nav-link text-center" do %>
              <p class="text-center my-2">Les actualités</p>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to who_events_path, class: "nav-link text-center" do %>
            <p class="text-center my-2">Qui sommes-nous? </p>
            <% end %>
          </div>
          </div>
        </div>

      <% end %>
    </ul>
  </div>
</div>
