<div class="d-flex all-index-events">
  <div class="index-left py-5">
    <% if @eventsall.count == 0 %>
      <h1 class="title-index-page pl-5 mb-5">Les évènements</h1>
      <p class="title-index-page">Il n'y a pas d'évènement actuellement.</p>
    <% else %>
      <div class="nom">
        <h1 class="title-index-page pl-5 mb-5">Les évènements</h1>
        <div class="d-flex">
          <div class="row w-100 px-5">
            <% @eventsall.each do |event| %>
            <% if event.start_date > Date.today %>
              <%= link_to event_path(event), class: "link-to-show" do  %>
                <div class="card-event-index mx-3 mb-4">
                  <% if event.kind == "Soirée" %>
                    <%= image_tag("photo-event-party.jpg", crop: :thumb, class: "photo-event") %>
                  <% else %>
                    <%= image_tag("photo-event-other.jpg", crop: :thumb, class: "photo-event") %>
                  <% end %>
                  <div class="info-card-event">
                    <h3 class="text-center pt-2"><%= event.title %></h3>
                    <div class="address-event d-flex">
                      <i class="fas fa-map-marker-alt px-2 pt-2"></i><p class="m-gray"><%= event.address %></p>
                    </div>
                    <div class="date-event">
                      <% if event.start_date == event.end_date %>
                        <div class="d-flex">
                          <i class="fas fa-calendar-alt pt-2 pl-2"></i>
                          <p class="pl-2"><%= l(event.start_date, format: '%d %B %Y') %></p>
                        </div>
                      <% else %>
                        <div class="d-flex">
                          <i class="fas fa-calendar-alt pt-2 pl-2"></i>
                          <p class="pl-2"><%= l(event.start_date, format: '%d %B') %> - <%= l(event.end_date, format: '%d %B %Y') %></p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>

  </div>
    <div class="index-right pt-4">
      <div
        id="map"
        style="width: 450px;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
</div>
